<div class="row center-align">
    <div class="col justify-content-center">
        <div class="card mx-auto" style="width: 18rem; height: auto">
            <img class="card-img-top" src="/assets/images/quizcard.jpg" alt="Card image cap" style="height: 10rem">
            <div class="card body">
                <h5 class="card-title text-center">Quiz</h5>
                <p class="card-text text-center">Participate and earn extra badges.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Organize</li>
                <li class="list-group-item">Participate</li>
                <li class="list-group-item">Results</li>
            </ul>
        </div>
    </div>
    <div class="col justify-content-center">
        <div class="card mx-auto" style="width: 18rem; height: auto">
            <img class="card-img-top" src="/assets/images/coursecard.jfif" alt="Card image cap" style="height: 10rem">
            <div class="card body">
                <h5 class="card-title text-center">Courses</h5>
                <p class="card-text text-center">Have a fruitful learning journey.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Developer</li>
                <li class="list-group-item">Personal Development</li>
                <li class="list-group-item">Business Analytics</li>
            </ul>
        </div>
    </div>
    <div class="col justify-content-center">
        <div class="card mx-auto" style="width: 18rem; height: auto">
            <img class="card-img-top" src="/assets/images/idecard.jpg" alt="Card image cap" style="height: 10rem">
            <div class="ribbon ribbon-top-left"><span>Upcoming</span></div>
            <div class="card body">
                <h5 class="card-title text-center">IDE</h5>
                <p class="card-text text-center">Practice makes a man perfect. Get Set Go!</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Visual Studio</li>
                <li class="list-group-item">Eclipse</li>
                <li class="list-group-item">pyCharm</li>
            </ul>
        </div>
    </div>
    <div class="col justify-content-center">
        <div class="card mx-auto" style="width: 18rem; height: auto">
            <img class="card-img-top" src="/assets/images/cert.jpg" alt="Card image cap" style="height: 10rem">
            <div class="card body">
                <h5 class="card-title text-center">Certifications</h5>
                <p class="card-text text-center">Become a professional developer.</p>
           </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Most Rated</li>
                <li class="list-group-item">Enroll</li>
                <li class="list-group-item">Exam</li>
            </ul>
        </div>
    </div>
</div>